
body{
    font-family: 'ZCOOL QingKe HuangYou';
    background:#f4a442;
}
.title{
    padding: top 20px;
    font-size 36px;
    color: #1417ba;
    text-align: center;
    text-transform: uppercase;
}
.container{
    height: 330px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    border: 3px solid  #1417ba;
    box-shadow: 0 0 10px 5px;
    background:#f4a442
}
.question{
    padding:10px;
    font-size:22px;
    color:#1417ba;
    margin:15px 0 15px 0;
    border-radius:20px;
    background: #1417ba;
}
.option{
    width: 370px;
    display: inline-block;
    color: #ffffff;
    padding: 10px 0 10px 0;
    vertical-align: middle;
    border-radius: 30px;
    margin: 12px;
    background: #1417ba;
}
.option:hover{
    background: orange;
    color:#ffffff;
}
.next-btn{
    background: #1417ba;
    height: 30px;
    widows: 80px;
    border-radius: 15px;
    cursor: pointer;
    float:right;
    margin: 5px;
}
.next-btn:hover{
color: #f4a442;
background: #1417ba
}
.result{
    height:80px;
    font-size:60px;
    text-align:center;
}
.optin input:checked .option{
    background: #1417ba;
    color: #f4a442
}